.MB-listick-color {
  position: relative;
  .bg-img {
    width: 100%;
    background: url(../images/color-bg-pc.jpg) no-repeat top center;
    background-size: 100%;
  }
  .content {
    position: absolute;
    top: 12%;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
  }
  &__typo-color {
    position: absolute;
    top: -9%;
    left: -1%;
  }
  // &__visual-pic {
  //   position: absolute;
  //   right: 0;
  //   top: -11.3%;
  // }
  &__visual-pic {
    right: 0;
    top: -11.3%;
    width: 424px;
    height: 600px;
    // width: 33%;
    // height: 46%;
    position: absolute;
    overflow: hidden;
    .layer {
      position: absolute;
      left: 0;
    }
    .layer1 {
      top: -50px;

      z-index: 3;
    }
    .layer2 {
      top: -50px;
      z-index: 2;
    }
    .layer3 {
      top: -70px;
      max-width: 600px;
    }
  }
  &__slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 5% auto 0;
  }
  &__item {
    display: block;
    width: 33.33333%;
    padding: 0 2%;
    margin-bottom: 4em;
  }
  .m-r {
    margin-right: 33.3333%;
  }
  &__slider-pic {
    width: 100%;
  }
}

@include pc-1024-width {
  .MB-listick-color {
    .content {
      top: 18%;
    }
    &__visual-pic {
      width: 33%;
      height: 470px;
      .layer3 {
        max-width: 410px;
      }
    }
  }
}

@include pad-767-width {
  .MB-listick-color {
    .m-r {
      margin-right: 0;
    }
    .bg-img {
      width: 100%;
      background: url(../images/color-bg-mb.jpg) no-repeat top center;
      background-size: 100%;
    }
    .content {
      top: 17%;
      margin: 0 10%;
    }
    &__typo-color {
      top: -12%;
      left: -14%;
      z-index: 2;
    }
    &__visual-pic {
      right: -15%;
      top: -30%;
      width: 69%;
      height: 27%;
      .layer1 {
        top: -193px;
      }
      .layer2 {
        top: -175px;
      }
    }
    &__slider {
      display: block;
      width: 100%;
      margin: 0;
      .slick-next,
      .slick-prev {
        width: 28px;
        height: 28px;
      }
      .slick-next {
        &:before {
          content: "";
          background: url(../images/right-arrow.png) no-repeat center center;
          // background-size: 100%;
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      .slick-prev {
        &:before {
          content: "";
          background: url(../images/left-arrow.png) no-repeat center center;
          // background-size: 100%;
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
    &__item {
      width: 100%;
      padding: 0 30px;
      margin-bottom: 8em;
    }
    &__progress {
      display: block;
      width: 50%;
      margin: 0 auto;
      height: 2px;
      overflow: hidden;
      background-color: #f5f5f5;
      background-image: linear-gradient(to right, $dark-green, $dark-green);
      background-repeat: no-repeat;
      background-size: 0 100%;
      transition: background-size 0.4s ease-in-out;
    }
  }
}

@include phone-414-width {
  .MB-listick-color {
    .content {
      top: 27%;
      // margin: 0 10%;
    }
    &__typo-color {
      top: -16%;
      // left: -14%;
      width: 70%;
    }
    &__visual-pic {
      top: -36%;
      width: 87%;
      height: 30%;
      .layer1 {
        top: -162px;
      }
    }
    // &__slider {
    //   .slick-next,
    //   .slick-prev {
    //     width: 28px;
    //     height: 28px;
    //   }
    // }
    &__item {
      // display: block;
      // width: 100%;
      // padding: 0 30px;
      margin-bottom: 2em;
    }
    &__slider-pic {
      width: 100%;
    }
  }
}
@include phone-375-width {
  .MB-listick-color {
    &__visual-pic {
      top: -30%;
      height: 26%;
      .layer1{
        top: -151px;
      }
    }
  }
}
