.eventSection {
  width: 100%;
  background: -webkit-linear-gradient(to right, #c4a18b, #e5bda4, #c4a18b);
  background: linear-gradient(to right, #c4a18b, #e5bda4, #c4a18b);
  text-align: left;
  font-family: "Microsoft JhengHei", "微軟正黑體";
  .locationbox {
    max-width: 100%;
    -webkit-box-shadow: 0 0 10px 3px rgba(215, 185, 167, 0.3);
    -moz-box-shadow: 0 0 10px 3px rgba(215, 185, 167, 0.3);
    box-shadow: 0 0 10px 3px rgba(215, 185, 167, 0.3);

    .selectBox {
      display: flex;
      align-items: center;
      border: 1px solid #fff;
      padding: 10px;
      .locationLabel {
        font-size: 24px;
        font-size: 2.4rem;
        line-height: 1.5;
        color: #fff;
        flex: 0 0 40%;
        padding-left: 5%;
      }
      .locationSelect {
        width: 100%;
        flex: 0 0 60%;
        select {
          appearance: none;
          width: 100%;
          background: url("../images/tableArrow.png") no-repeat right 10%
            center;
          background-size: 30px;
          font-family: "Microsoft JhengHei", "微軟正黑體";
          font-size: 24px;
          font-size: 2.4rem;
          line-height: 1.5;
          color: #fff;
          border: none;
          option {
            background-color: #e5bda4;
            font-size: 24px;
            font-size: 2.4rem;
            font-family: "Microsoft JhengHei", "微軟正黑體";
          }
        }
      }
    }
    .locationResult {
      .result {
        display: none;
        color: #fff;
        font-size: 24px;
        font-size: 2.4rem;
        &.on {
          display: block;
        }
        .name,
        .tel,
        .time {
          display: flex;
          line-height: 1.5;
          padding: 10px;
          border: 1px solid #fff;
          .tit {
            flex: 0 0 40%;
            color: #fff;
            padding-left: 5%;
          }
          .txt {
          }
        }
        a {
          text-decoration: none;
          color: #fff;
          font-family: "Microsoft JhengHei", "微軟正黑體";
        }
      }
    }
  }
}

// @media screen and (max-width: 1600px) {
//   .eventSection {
//     .locationbox {
//       .selectBox {
//         .locationLabel {
//           font-size: 2.4rem - 0.5;
//           padding-left: 20px;
//         }
//         .locationSelect {
//           select {
//             // line-height: 2.2;
//             font-size: 2.4rem - 0.5;
//             option {
//               font-size: 2.4rem - 0.5;
//             }
//           }
//         }
//       }
//       .locationResult {
//         .result {
//           font-size: 2.4rem - 0.5;
//           .name,
//           .tel,
//           .time {
//             // line-height: 2.2;
//             .tit {
//               padding-left: 10px;
//             }
//           }
//         }
//       }
//     }
//   }
// }
@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1366px) {
  .eventSection {
    .locationbox {
      .selectBox {
        .locationLabel {
          font-size: 2.4rem - 0.5;
          // padding-left: 20px;
          // flex: 0 0 200px;
        }
        .locationSelect {
          select {
            // line-height: 2.2;
            font-size: 2.4rem - 0.5;
            option {
              font-size: 2.4rem - 0.5;
            }
          }
        }
      }
      .locationResult {
        .result {
          font-size: 2.4rem - 0.5;
          .name,
          .tel,
          .time {
            // line-height: 2.2;
            .tit {
              // padding-left: 10px;
              // flex: 0 0 200px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .eventSection {
    .locationbox {
      .selectBox {
        .locationLabel {
          font-size: 2.4rem - 0.5;
          // padding-left: 20px;
          // flex: 0 0 180px;
        }
        .locationSelect {
          select {
            // line-height: 2.2;
            font-size: 2.4rem - 0.5;
            option {
              font-size: 2.4rem - 0.5;
            }
          }
        }
      }
      .locationResult {
        .result {
          font-size: 2.4rem - 0.5;
          .name,
          .tel,
          .time {
            // line-height: 2.2;
            .tit {
              // padding-left: 10px;
              // flex: 0 0 180px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
 
  .eventSection {
    .locationbox {
      .selectBox {
        // padding-left: 10px;
        .locationLabel {
          font-size: 2.4rem - 0.5;
          // padding-left: 10px;
          // flex: 0 0 145px;
        }
        .locationSelect {
          // padding-left: 10px;
          select {
            // line-height: 2.2;
            font-size: 2.4rem - 0.5;
           
            option {
              font-size: 2.4rem - 0.5;
            }
          }
        }
      }
      .locationResult {
        .result {
          font-size: 2.4rem - 0.5;
          .name,
          .tel,
          .time {
            // line-height: 2.2;
            // padding-left: 10px;
            .tit {
              // padding-left: 10px;
              // flex: 0 0 145px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .eventSection {
    .locationbox {
      .selectBox {
        .locationLabel {
          line-height: 2.2;
        }
        .locationSelect {
          select {
            line-height: 2.2;
          }
        }
      }
      .locationResult {
        .result {
          .name,
          .tel,
          .time {
            line-height: 2.2;
            .tit {
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .eventSection {
    .locationbox {
      .selectBox {
        .locationLabel {
          font-size: 15px;
          font-size: 1.5rem;
          line-height: 1.5;
          padding-left: 2.5%;
        }
        .locationSelect {
          select {
            background: url("../images/tableArrow.png") no-repeat right 5%
            center;
          background-size: 20px;
            font-size: 15px;
              font-size: 1.5rem;
            line-height: 1.5;
            option {
              font-size: 15px;
              font-size: 1.5rem;
            }
          }
        }
      }
      .locationResult {
        .result {
          font-size: 15px;
          font-size: 1.5rem;
        
          .name,
          .tel,
          .time {
            line-height: 1.5;
            .tit {
              padding: 0;
              padding-left: 2.5%;
            }
            .txt {
              padding-left: 2.5%;
            }
          }
          a {
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .eventSection {
    .locationbox {
      .selectBox {
        .locationLabel {
          padding-left: 0;
          flex: 0 0 35%;
        }
        .locationSelect {
          flex: 0 0 65%;
          select {
            background: url("../images/tableArrow.png") no-repeat right 2.5%
            center;
          background-size: 20px;
           
            option {
             
            }
          }
        }
      }
      .locationResult {
        
        .result {
         
        
          .name,
          .tel,
          .time {
            .tit {
              flex: 0 0 35%;
              padding-left: 0;
            }
            .txt {
              flex: 0 0 65%;
              // padding-left: 5px;
            }
          }
          a {
          }
        }
      }
    }
  }
}

// @media screen and (max-width: 375px) {
//   .eventSection {
//     .locationbox {
      
//       .selectBox {
//         .locationLabel {
//           padding-left: 0;
//           flex: 0 0 90px;
//           font-size: 14px;
//           font-size: 1.4rem;
//         }
//         .locationSelect {
//           flex: 0 0 180px;
//           padding-left: 10px;
//           select {
//             background: url("../images/tableArrow.png") no-repeat right 2.5%
//               center;
//             background-size: 20px;
//             font-size: 14px;
//             font-size: 1.4rem;
//             option {
//               font-size: 14px;
//               font-size: 1.4rem;
//             }
//           }
//         }
//       }
//       .locationResult {
//         .result {
//           font-size: 14px;
//           font-size: 1.4rem;
//           .name,
//           .tel,
//           .time {
//             .tit {
//               flex: 0 0 90px;
//               padding-left: 0;
             
//             }
//             .txt {
//               flex: 0 0 180px;
//                padding-left: 10px;
//             }
//           }
//           a {
//           }
//         }
//       }
//     }
//   }
// }
