#honorstige {
  text-align: center;
  margin-top: -1px; //remove white line
  .honorstige-sec1-wrap {
    width: 100%;
    position: relative;
    .bg-img {
      width: 100%;
      background: url(../images/honorstige-sec1-bg-pc.jpg) no-repeat top center;
      background-size: 100%;
      &:before {
        content: "";
        display: block;
        background: url(../images/honorstige-sec1-bg-pc-light.jpg) no-repeat top
          center;
        background-size: 100%;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        -webkit-animation: img_shine 3.5s linear infinite alternate;
        animation: img_shine 3.5s linear infinite alternate;
      }
    }
    .wrap {
      position: absolute;
      z-index: 2;
      top: 11.2%;
      left: 0;
      right: 0;
      bottom: 0;
      .sec1-tit {
        h1 {
          @include titleStyle;
          padding: 30px 0;
          line-height: 1.3em;
        }
        p {
          @include sub-titStyle;
        }

        color: #fff5f3;
      }
      .sec2-content {
        position: relative;
        height: 100%;
        width: 100%;
        .txt {
          color: #fff5f3;
          position: absolute;
          h2 {
            font-size: 4rem;
            font-family: "Noto Serif TC";
            font-weight: 800;
            letter-spacing: 0.3rem;
            line-height: 1.3;
          }
          .price {
            font-size: 2.8rem;
            font-family: "Noto Serif TC";
            font-weight: 800;
            letter-spacing: 0.3rem;
            padding: 0.8em 0;
          }
          .more-btn {
            position: relative;
            display: block;
            border: none; //remove visited border
            outline: none; //remove visited border
            &::before {
              content: "";
              position: absolute;
              width: 146px;
              height: 43px;
              left: 0;
              right: 0;
              bottom: -22px;
              margin: 0 auto;
              background: url(../images/flare.png) no-repeat center;
              background-size: 100%;
              animation: flare_shine 0.5s infinite;
              animation-direction: alternate;
              z-index: 1;
              pointer-events: none;
            }
          }
        }
        .product1 {
          top: 10%;
          left: 31.2%;
          // top: 300px;
        }
        .product2 {
          top: 50%;
          right: 28%;
        }
      }
    }
  }
  .honorstige-sec2-wrap {
    width: 100%;
    position: relative;
    margin-top: -1px; //remove white line
    .bg-img {
      width: 100%;
      background: url(../images/honorstige-sec2-bg-pc.jpg) no-repeat top center;
      background-size: 100%;
    }
    .wrap {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      .sec2-tit {
        h1 {
          font-size: 4.5rem;
          font-family: "Noto Serif TC";
          font-weight: 800;
          letter-spacing: 0.4rem;
          padding: 2.85% 0 30px;
          color: #fff5f3;
        }
        p {
          font-size: 2.4rem;
          letter-spacing: 0.2rem;
          line-height: 1.5;
          // font-weight: 500;
          color: #fff;
        }
      }
      .honorstige-slider {
        width: 100%;
        display: flex;
        flex-direction: row;
        .item {
          width: 33.33333%;
          .txt {
            position: relative;
            img {
              max-width: 100%;
            }
            p {
              font-family: "Microsoft JhengHei", "微軟正黑體";
              font-weight: 400;
              position: absolute;
              color: #d4c9c6;
              top: 40%;
              right: 15%;
              line-height: 1.5;
              letter-spacing: 0.8rem;
              font-size: 2.4rem;
              text-align: left;
              span {
                display: block;
                font-size: 4rem;
                letter-spacing: 0.2rem;
              }
            }
          }
        }
      }
      .honorstige-note {
        color: #d4c9c6;
        padding-top: 72px;
        p {
          font-size: 1.4rem;
          line-height: 1.5;
        }
      }
    }
  }
}

.modal {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  .modal-dialog {
    width: 100%;
    margin: 0;
    .modal-content {
      background-color: rgba(0, 0, 0, 0);
      padding-top: 40px;
      .modal-body {
        position: relative;
        max-width: 1120px;
        margin: 0 auto;
        .close {
          position: absolute;
          top: -2px;
          right: -2px;
          background: url(../images/close.png) no-repeat center;
          background-size: 100%;
          width: 50px;
          height: 50px;
          opacity: 1;
          border: none;
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
          span {
            opacity: 0;
          }
          &:hover {
            opacity: 0.8;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
          }
        }
        .honorstige-modal-wrap {
          width: 100%;
          padding: 80px 66px 50px;

          .tit {
            h1 {
              @include titleStyle;
            }
            p {
              @include sub-titStyle;
              padding: 1em 0;
              letter-spacing: 0.4em;
            }
            color: #fff5f3;
          }
          .photo {
            img {
              width: 100%;
              margin: 0 auto;
            }
          }
          .content {
            padding-left: 20%;
            padding-right: 20%;
            color: #fff5f3;
            h1 {
              font-size: 4rem;
              font-family: "Noto Serif TC";
              font-weight: 800;
              letter-spacing: 0.4rem;
              padding: 1em 0 1.5em;
              position: relative;
              &::after {
                content: "";
                position: absolute;
                width: 475px;
                height: 87px;
                left: 0;
                right: 0;
                bottom: 33px;
                margin: 0 auto;
                background: url(../images/honorstige-popup-tit-bg.png) no-repeat
                  center;
                background-size: 100%;
              }
            }
            p {
              font-family: "Microsoft JhengHei", "微軟正黑體";
              text-align: left;
              font-size: 2.4rem;
              line-height: 1.5;
              letter-spacing: 0.2em;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  #honorstige {
    text-align: center;
    .honorstige-sec1-wrap {
      .wrap {
        top: 11.2%;
        .sec1-tit {
          h1 {
            font-size: 5.5rem - 1.5;
            padding: 20px 0;
          }
          p {
            font-size: 3rem - 0.5;
          }
        }
        .sec2-content {
          .txt {
            h2 {
              font-size: 4rem - 0.5;
              line-height: 1.3;
            }
            .price {
              font-size: 2.8rem - 0.5;
              padding: 0.8em 0;
            }
            .more-btn {
              width: 120px;
              margin: 0 auto;
              &::before {
                content: "";
                width: 120px;
                height: 43px;
                bottom: -21px;
              }
            }
          }
          .product1 {
            left: 28.2%;
          }
          .product2 {
            right: 24%;
          }
        }
      }
    }
    .honorstige-sec2-wrap {
      .wrap {
        .sec2-tit {
          h1 {
            font-size: 4.5rem - 0.5;
            padding: 2.85% 0 30px;
          }
          p {
            font-size: 2.4rem;
          }
        }
        .honorstige-slider {
          width: 100%;
          display: flex;
          flex-direction: row;
          .item {
            width: 33.33333%;
            .txt {
              position: relative;
              img {
                max-width: 100%;
              }
              p {
                top: 40%;
                right: 15%;
                font-size: 2.4rem;
                span {
                  font-size: 4rem - 0.5;
                }
              }
            }
          }
        }
        .honorstige-note {
          p {
          }
        }
      }
    }
  }

  .modal {
    .modal-dialog {
      .modal-content {
        .modal-body {
          .close {
            width: 35px;
            height: 35px;
          }
          .honorstige-modal-wrap {
            padding: 80px 66px 50px;
            .tit {
              h1 {
                font-size: 5.5rem - 1.5;
              }
              p {
                font-size: 3rem - 0.5;
              }
            }
            .photo {
              img {
                width: 80%;
              }
            }
            .content {
              h1 {
                font-size: 4rem - 0.5;
                padding: 1em 0 1.5em;
                &::after {
                  content: "";
                  width: 475px;
                  height: 87px;
                  bottom: 27px;
                  width: 75%;
                }
              }
              p {
                font-size: 2.4rem - 0.3;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  #honorstige {
    .honorstige-sec1-wrap {
      .wrap {
        .sec2-content {
          .txt {
            h2 {
              font-size: 4rem - 1;
            }
            .price {
              font-size: 2.8rem - 1;
            }
          }
        }
      }
    }
    .honorstige-sec2-wrap {
      .wrap {
        .honorstige-note {
          padding-top: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #honorstige {
    text-align: center;
    .honorstige-sec1-wrap {
      .wrap {
        top: 10%;
        .sec1-tit {
          h1 {
            font-size: 5.5rem - 2;
          }
          p {
            font-size: 3rem - 1;
          }
        }
        .sec2-content {
          .txt {
            h2 {
              font-size: 4rem - 1.5;
            }
            .price {
              font-size: 2.8rem - 1.5;
            }
            .more-btn {
              width: 100px;
              &::before {
                content: "";
                width: 100px;
                height: 43px;
                bottom: -21px;
              }
            }
          }
        }
      }
    }
    .honorstige-sec2-wrap {
      .wrap {
        .sec2-tit {
          h1 {
            font-size: 4.5rem - 1;
          }
          p {
            font-size: 2.4rem - 0.5;
          }
        }
        .honorstige-slider {
          .item {
            .txt {
              img {
              }
              p {
                right: 10%;
                font-size: 2.4rem - 0.5;
                span {
                  font-size: 4rem - 1.5;
                }
              }
            }
          }
        }
        .honorstige-note {
          padding-top: 15px;
        }
      }
    }
  }

  .modal {
    .modal-dialog {
      .modal-content {
        padding: 40px;
        .modal-body {
          .close {
            width: 35px;
            height: 35px;
          }
          .honorstige-modal-wrap {
            padding: 80px 66px 50px;
            .tit {
              h1 {
                font-size: 5.5rem - 2;
              }
              p {
                font-size: 3rem - 1;
              }
            }
            .photo {
              img {
                width: 80%;
              }
            }
            .content {
              h1 {
                font-size: 4rem - 1;
                &::after {
                  content: "";
                  width: 475px;
                  height: 87px;
                  bottom: 15px;
                  width: 75%;
                }
              }
              p {
                font-size: 2.4rem - 0.5;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #honorstige {
    .pc {
      display: none !important;
    }
    .honorstige-sec1-wrap {
      .bg-img {
        background: url(../images/honorstige-sec1-bg-mb.jpg) no-repeat top
          center;
        background-size: 100%;
        &:before {
          content: "";
          display: block;
          background: url(../images/honorstige-sec1-bg-mb-light.jpg) no-repeat
            top center;
          background-size: 100%;
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          -webkit-animation: img_shine 3.5s linear infinite alternate;
          animation: img_shine 3.5s linear infinite alternate;
        }
      }
      .wrap {
        top: 13.5%;
        .sec1-tit {
          h1 {
            @include titleStyle;
          }
          p {
            @include sub-titStyle;
          }

          color: #fff5f3;
        }
        .sec2-content {
          .txt {
            color: #fff5f3;
            h2 {
              font-size: 3.5rem;
            }
            .price {
              font-size: 2.3rem;
            }
            .more-btn {
              width: 146px;
              &::before {
                width: 146px;
                height: 43px;
                bottom: -21px;
                // bottom: -50px;
              }
            }
          }
          .product1 {
            top: 12%;
            left: 8%;
          }
          .product2 {
            top: 59%;
            right: 8%;
          }
        }
      }
    }
    .honorstige-sec2-wrap {
      width: 100%;
      position: relative;
      .bg-img {
        width: 100%;
        background: url(../images/honorstige-sec2-bg-mb.jpg) no-repeat top
          center;
        background-size: 100%;
        &:before {
          content: "";
          display: block;
          background: url(../images/honorstige-sec2-bg-mb-light.jpg) no-repeat
            top center;
          background-size: 100%;
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          -webkit-animation: img_shine 3.5s linear infinite alternate;
          animation: img_shine 3.5s linear infinite alternate;
        }
      }
      .wrap {
        top: 10.8%;
        .sec2-tit {
          h1 {
            font-size: 4.5rem;
            padding: 2.85% 0 30px;
          }
          p {
            font-size: 2.4rem;
          }
        }
        .honorstige-slider {
          display: block;
          .item {
            width: 100%;
            .txt {
              img {
                width: 100%;
              }
              p {
                font-size: 2.4rem;
                top: 40%;
                right: 17.8%;
                span {
                  font-size: 4rem;
                }
              }
            }
          }
          .owl-nav {
            .owl-prev {
              margin-left: 3%;
              height: 49px;
            }
            .owl-next {
              margin-right: 3%;
              height: 49px;
            }
          }
        }
        .honorstige-note {
          color: #d4c9c6;
          padding-top: 72px;
          padding-left: 10%;
          padding-right: 10%;
          text-align: left;
          p {
            font-size: 1.4rem;
            line-height: 1.5;
          }
        }
      }
    }
  }

  .modal {
    width: 100%;
    .modal-dialog {
      width: 100%;
      margin: 0;
      .modal-content {
        padding: 0;
        padding-top: 40px;
        .modal-body {
          width: 100%;
          margin: 0 auto;
          padding: 0;
          .close {
            top: -2px;
            right: 5%;
            width: 50px;
            height: 50px;
          }
          .honorstige-modal-wrap {
            width: 100%;
            padding: 0;
            padding-top: 15%;
            padding-bottom: 15%;
            .tit {
              h1 {
                @include titleStyle;
              }
              p {
                @include sub-titStyle;
                padding: 1em 0;
                letter-spacing: 0.4em;
              }
            }
            .photo {
              img {
                width: 100%;
              }
            }
            .content {
              padding-left: 15%;
              padding-right: 15%;
              h1 {
                font-size: 4rem;
                padding: 1em 0 1.5em;
                &::after {
                  width: 475px;
                  height: 87px;
                  left: 0;
                  right: 0;
                  bottom: 33px;
                  background: url(../images/honorstige-popup-tit-bg.png)
                    no-repeat center;
                  background-size: 100%;
                }
              }
              p {
                font-size: 2.4rem;
                line-height: 1.5;
                letter-spacing: 0.2em;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 414px) {
  #honorstige {
    .honorstige-sec1-wrap {
      .wrap {
        top: 13.5%;
        .sec1-tit {
          h1 {
            font-size: 3.2rem;
            padding: 15px 0;
          }
          p {
            font-size: 2.4rem;
          }
        }
        .sec2-content {
          .txt {
            h2 {
              font-size: 2.5rem - 0.5;
            }
            .price {
              font-size: 1.6rem - 0.3;
            }
            .more-btn {
              width: 100px;
              &::before {
                width: 100px;
                height: 43px;
                bottom: -21px;
              }
            }
          }
          .product1 {
            top: 12%;
            left: 8%;
          }
          .product2 {
            top: 59%;
            right: 8%;
          }
        }
      }
    }
    .honorstige-sec2-wrap {
      width: 100%;
      position: relative;

      .wrap {
        top: 10.8%;
        .sec2-tit {
          h1 {
            font-size: 4.5rem - 1.5;
            padding: 2.85% 0 30px;
          }
          p {
            font-size: 2.4rem - 0.5;
          }
        }
        .honorstige-slider {
          display: block;
          .item {
            width: 100%;
            .txt {
              img {
                width: 100%;
              }
              p {
                font-size: 2.4rem - 0.5;
                right: 15%;
                span {
                  font-size: 4rem - 1.5;
                }
              }
            }
          }
          .owl-nav {
            .owl-prev {
              margin-left: 3%;
              img {
                width: 80%;
              }
            }
            .owl-next {
              margin-right: 3%;
              img {
                width: 80%;
              }
            }
          }
        }
        .honorstige-note {
          padding-top: 0;
          p {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .modal {
    .modal-dialog {
      .modal-content {
        padding-top: 20px;
        .modal-body {
          .close {
            top: -2px;
            right: 5%;
            width: 25px;
            height: 25px;
          }
          .honorstige-modal-wrap {
            padding: 0;
            padding-top: 10%;
            padding-bottom: 15%;
            .tit {
              h1 {
                font-size: 3.2rem;
              }
              p {
                font-size: 2.4rem;
              }
            }
            .photo {
              img {
                width: 100%;
              }
            }
            .content {
              padding-left: 8%;
              padding-right: 8%;
              h1 {
                font-size: 4rem - 1;
                text-align: center;
                &::after {
                  width: 475px;
                  height: 87px;
                  bottom: 16px;
                  margin: 0 auto;
                  width: 98%;
                }
              }
              p {
                // font-size: 2.4rem - 0.5;
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  #honorstige {
    .honorstige-sec1-wrap {
      .wrap {
        .sec2-content {
          .txt {
            .more-btn {
              &::before {
                bottom: -22px;
              }
            }
          }

          .product1 {
            top: 8%;
          }
          .product2 {
          }
        }
      }
    }
  }

  .modal {
    .modal-dialog {
      .modal-content {
        .modal-body {
          .honorstige-modal-wrap {
            padding: 0;
            padding-top: 15%;
            padding-bottom: 15%;
            .tit {
              h1 {
                font-size: 3.2rem - 0.4;
              }
              p {
                font-size: 2.4rem - 0.4;
              }
            }

            .content {
              padding-left: 8%;
              padding-right: 8%;
              h1 {
                font-size: 4rem - 1.5;
                &::after {
                  width: 475px;
                  height: 87px;
                  bottom: 6px;
                  width: 95%;
                }
              }
              p {
                // font-size: 2.4rem - 0.5;
              }
            }
          }
        }
      }
    }
  }
}
