.time-wrapper {
  .time-kv {
    width: 100%;
    position: relative;
    .bg-img {
      width: 100%;
      background: url(../images/pt1_kv_pc.jpg) no-repeat top center;
      background-size: 100%;
      &:before {
        content: "";
        display: block;
        background: url(../images/pt1_kv_pc_light.jpg) no-repeat top center;
        background-size: 100%;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        -webkit-animation: img_shine 1.5s linear infinite alternate;
        animation: img_shine 1.5s linear infinite alternate;
      }
    }

    .time-kv-txt {
      position: absolute;
      z-index: 2;
      padding-left: 23.6%;
      padding-top: 14%;
      text-align: center;
      p {
        font-size: $sup-title;
        padding-top: 30px;
        letter-spacing: 0.1rem;
        // font-family: "Microsoft JhengHei", "微軟正黑體";
      }
      h2 {
        font-size: 4.5rem;
        font-family: "Noto Serif TC";
        font-weight: 800;
        letter-spacing: 0.1rem;
        padding-bottom: 15px;
      }
      h1 {
        font-size: $title;
        font-family: "Noto Serif TC";
        font-weight: 800;
        letter-spacing: 0.1rem;
      }
    }
    .scrollIcon {
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0;
      bottom: 0;
      width: 12px;
      margin: 0 auto;
      padding-bottom: 120px;
      -webkit-transition: all 1s;
      transition: all 1s;
      animation: scrollMove 1s ease-in infinite alternate;
    }
  }

}
.footer.pc {
  display: block;
  position: fixed;
  z-index: 100;
  bottom: 50%;
  right: 0;
  overflow: hidden;
  a {
    &::before {
      content: "";
      background: url(../images/shine_light.png);
      background-position: center;
      background-size: cover;
      position: absolute;
      width: 200%;
      height: 200%;
      display: block;
      pointer-events: none;
      -webkit-animation: btn-shine2 3s ease 1s infinite;
      animation: btn-shine2 3s ease 1s infinite;
    }
  }
}
.footer.mb{
  display: none;
}



@media screen and (max-width: 1600px) {
  .time-wrapper {
    .time-kv {
      .time-kv-txt {
        // padding-top: 300px;
        p {
        }
        h2 {
          font-size: 4rem;
        }
        h1 {
          font-size: $title - 0.5;
        }
      }
    }
  }
}
@media screen and (max-width: 1440px) {
  .time-wrapper {
    .time-kv {
      .time-kv-txt {
        // padding-top: 300px;
        p {
          font-size: $sup-title - 0.5;
          padding-bottom: 30px - 15;
        }
        h2 {
          font-size: 4rem - 0.5;
          padding-bottom: 15px - 5;
        }
        h1 {
          font-size: $title - 1.5;
        }
      }
      .scrollIcon {
        width: 12px - 3;
      }
    }
  }
}
@media screen and (max-width: 1366px) {
  .time-wrapper {
  .time-kv {
    .time-kv-txt {
      // padding-top: 275px;
     
    }
   
  }
}
}
@media screen and (max-width: 1280px) {
    .time-wrapper {
    .time-kv {
      .time-kv-txt {
        // padding-top: 275px;
        p {
          font-size: $sup-title - 1;
          padding-bottom: 30px - 15;
        }
        h2 {
          font-size: 4rem - 1;
          padding-bottom: 15px - 5;
        }
        h1 {
          font-size: $title - 2;
        }
      }
      .scrollIcon {
        width: 12px - 3;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
      .time-wrapper {
    .time-kv {
      .time-kv-txt {
        // padding-top: 200px;
        p {
          font-size: $sup-title - 1.5;
          padding-top: 30px - 15;
        }
        h2 {
          font-size: 4rem - 1.5;
          padding-bottom: 15px - 5;
        }
        h1 {
          font-size: $title - 2.5;
        }
      }
      .scrollIcon {
        width: 12px - 4;
        padding-bottom: 100px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .time-wrapper {
    
    .time-kv {
      .bg-img {
        width: 100%;
        background: url(../images/pt1_kv_mb.jpg) no-repeat top center;
        background-size: 100%;
        &:before {
          content: "";
          display: block;
          background: url(../images/pt1_kv_mb_light.jpg) no-repeat top center;
          background-size: 100%;
        }
      }

      .time-kv-txt {
        position: absolute;
        z-index: 2;
        padding-left: 6%;
        padding-top: 117%;
         p {
          font-size: $sup-title ;
          padding-top: 30px;
        }
        h2 {
          font-size: 4rem ;
          padding-bottom: 15px - 5;
        }
        h1 {
          font-size: $title ;
        }
      }
    }

  }
  .footer.pc{
    display: none;
  }
  .footer.mb {
    display: block;
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    overflow: hidden;
    a{
      &::before {
        content: "";
        background: url(../images/shine_light.png);
        background-position: center;
        background-size: cover;
        position: absolute;
        width: 200%;
        height: 200%;
        display: block;
        pointer-events: none;
        -webkit-animation: btn-shine 4s ease 1s infinite;
        animation: btn-shine 4s ease 1s infinite;
      }
     
    }
    
  }
}


@media screen and (max-width: 414px) {
  .time-wrapper {
    .time-kv {
      .bg-img {
      }

      .time-kv-txt {
        padding-left: 6%;
        padding-top: 112%;
        p {
          font-size: 22px;
          font-size: 2.2rem;
          font-weight: 550;
          // padding-bottom: 20px;
          padding-top: 20px;
          letter-spacing: 0.1rem;
        }
        h2 {
          font-size: 24px;
          font-size: 2.4rem;
          font-weight: 800;
          letter-spacing: 0.1rem;
          padding-bottom: 10px;
        }
        h1 {
          font-size: 32px;
          font-size: 3.2rem;
          // font-size:$title ;
          font-weight: 800;
          letter-spacing: 0.1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .time-wrapper {
    .time-kv {
      .bg-img {
      }

      .time-kv-txt {
        padding-left: 6%;
        padding-top: 117%;
        p {
          font-size: 22px - 3;
          font-size: 1.9rem;
          padding-top: 15px;
        }
        h2 {
          font-size: 24px - 3;
          font-size: 2.1rem;
          padding-bottom: 5px;
        }
        h1 {
          font-size: 32px - 3;
          font-size: 2.9rem;
        }
      }
    }
  }
}

