.time-wrapper {
  .time-pt3-product {
    background: url(../images/pt3_bg_pc.jpg) no-repeat top center;
    background-size: 100%;
    position: relative;
    margin-top: -1px;
    .productWrap {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2; //for new section 
      .time-product-txt {
        text-align: center;
        padding-top: 185px;
        padding-bottom: 50px;
        p {
          @include sub-titStyle;
        }
        h1 {
          @include titleStyle;
          padding: 30px 0;
        }
      }
      .productSlider {
        width: 62%;
        margin: 0 auto;
        .btns {
          max-width: 946px;
          height: auto;
          margin: 0 auto;
          text-align: center;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;

          a {
            text-decoration: none;
          }
          a.on {
          }
          &.bg00 {
            background: url(../images/product_all_1.png) no-repeat top center;
            background-size: 100%;
          }
          &.bg01 {
            background: url(../images/product_all_2.png) no-repeat top center;
            background-size: 100%;
          }
          &.bg02 {
            background: url(../images/product_all_3.png) no-repeat top center;
            background-size: 100%;
          }
          &.bg03 {
            background: url(../images/product_all_4.png) no-repeat top center;
            background-size: 100%;
          }
          &.bg04 {
            background: url(../images/product_all_5.png) no-repeat top center;
            background-size: 100%;
          }
          &.bg05 {
            background: url(../images/product_all_6.png) no-repeat top center;
            background-size: 100%;
          }
          &.bg06 {
            background: url(../images/product_all_7.png) no-repeat top center;
            background-size: 100%;
          }
        }
        .btnWrap {
          position: relative;
          .btnsBlank {
            position: absolute;
            display: flex;
            flex-direction: row;
          }
        }
      }
      .owl-carousel {
        width: 100%;
        margin: 0 auto;
        margin-top: -50px;
        .item {
          .product-detail-wrap {
            display: flex;
            flex-direction: row;
            align-content: center;
            width: 100%;
            .product-photo {
              width: 45%;
              img {
                width: 85%;
                margin: 0 auto;
                margin-right: 0;
              }
            }
            .product-content {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: left;
              padding-top: 50px;
              margin-right: 50px;
              width: 55%;
              h2 {
                font-size: 4rem;
                font-family: "Noto Serif TC";
                font-weight: 800;
                letter-spacing: 0.3rem;
                line-height: 1.3;
              }
              .price {
                font-size: 2.8rem;
                font-family: "Noto Serif TC";
                font-weight: 800;
                letter-spacing: 0.3rem;
                padding: 25px 0;
              }
              .desc {
                font-size: 2.4rem;
                line-height: 1.5;
                padding-right: 100px;
              }
            }
          }
        }
      }
    }
  }
}
.owl-carousel .prev-slide,
.owl-carousel .next-slide {
  z-index: 3;
}

@media screen and (max-width: 1600px) {
  .time-wrapper {
    .time-pt3-product {
      .productWrap {
        .time-product-txt {
          padding-top: 170px;
          p {
            font-size: 3rem;
          }
          h1 {
            font-size: 5.5rem;
          }
        }
        .productSlider {
          .btns {
            width: 70%;
          }
          .btnWrap {
          }
        }
        .owl-carousel {
          .item {
            .product-detail-wrap {
              .product-photo {
              }
              .product-content {
                h2 {
                  font-size: 4rem - 0.5rem;
                }
                .price {
                  font-size: 2.8rem - 0.5rem;
                }
                .desc {
                  font-size: 2.4rem - 0.5rem;
                  padding-right: 80px;
                }
              }
            }
          }
          .owl-nav {
            .owl-prev,
            .owl-next {
              top: 46%;
              img {
                // width: 70%;
              }
            }
          }
        }
      }
    }
  }
  // .owl-carousel .owl-nav .owl-prev,
  // .owl-carousel .owl-nav .owl-next {
  //   top: 46% !important;
  // }
}
@media screen and (max-width: 1440px) {
  .time-wrapper {
    .time-pt3-product {
      .productWrap {
        .time-product-txt {
          padding-top: 170px;
          p {
            font-size: 3rem - 0.5;
          }
          h1 {
            font-size: 5.5rem - 1.5;
            padding: 20px 0;
          }
        }
        .owl-carousel {
          margin-top: -30px;
        }
      }
    }
  }
}
@media screen and (max-width: 1366px) {
  .break {
    display: block;
  }
}

@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 1024px) {
  .time-wrapper {
    .time-pt3-product {
      .productWrap {
        .time-product-txt {
          padding-top: 100px;
          p {
            font-size: 3rem - 1;
          }
          h1 {
            font-size: 5.5rem - 2;
            padding: 20px 0;
          }
        }
        .productSlider {
          .btns {
            width: 70%;
          }
          .btnWrap {
          }
        }
        .owl-carousel {
        margin-top: -10px;
          .item {
            .product-detail-wrap {
              .product-photo {
              }
              .product-content {
                h2 {
                  font-size: 4rem - 1.5rem;
                }
                .price {
                  font-size: 2.8rem - 1rem;
                  padding: 15px 0;
                }
                .desc {
                  font-size: 2.4rem - 1rem;
                  padding-right: 40px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .time-wrapper {
    .time-pt3-product {
      background: url(../images/pt3_bg_mb.jpg) no-repeat top center;
      background-size: 100%;
      .productWrap {
        .time-product-txt {
          text-align: center;
          padding-top: 130px;
          padding-bottom: 60px;
          p {
            @include sub-titStyle;
          }
          h1 {
            @include titleStyle;
            padding: 30px 0;
          }
        }
        .productSlider {
          width: 85%;
          margin: 0 auto;
          .btns {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
          }
          .btnWrap {
            position: relative;
            .btnsBlank {
              position: absolute;
              display: flex;
              flex-direction: row;
            }
          }
        }
        .owl-carousel {
          width: 100%;
          margin: 0 auto;
          .item {
            .product-detail-wrap {
              display: flex;
              flex-direction: column;
              align-content: center;
              width: 100%;
              .product-photo {
                width: 100%;
                img {
                  width: 50%;
                  margin: 0 auto;
                }
              }
              .product-content {
                // flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 0;
                width: 80%;
                margin: 0 auto;
                h2 {
                  font-size: 4rem - 0.3;
                }
                .price {
                  font-size: 2.8rem;
                  padding: 20px 0 ;
                }
                .desc {
                  padding-right: 0;
                  font-size: 2.4rem;
                }
              }
            }
          }
          .owl-nav {
            .owl-prev,
            .owl-next {
              top: 35%;
              img {
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .time-wrapper {
    .time-pt3-product {
      .productWrap {
        .time-product-txt {
          padding-top: 80px;
          padding-bottom: 30px; //for new section
          
          p {
            font-size: 24px;
            font-size: 2.4rem;
          }
          h1 {
            font-size: 32px;
            font-size: 3.2rem;
            padding: 15px 0;
          }
        }
        .productSlider {
          width: 95%;
          .btns {
          }
          .btnWrap {
            .btnsBlank {
            }
          }
        }
        .owl-carousel {
          .item {
            .product-detail-wrap {
              .product-photo {
                img {
                }
              }
              .product-content {
                width: 90%;
                h2 {
                  font-size: 25px;
                  font-size: 2.5rem;
                }
                .price {
                  font-size: 16px;
                  font-size: 1.6rem;
                }
                .desc {
                  font-size: 15px;
                  font-size: 1.5rem;
                }
              }
            }
          }
          .owl-nav {
            .owl-prev,
            .owl-next {
              top: 30%;
              img {
                // width: 70%;
              }
            }
          }
        }
      }
      .height {
        height: 150px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .time-wrapper {
    .time-pt3-product {
      .productWrap {
        .time-product-txt {
          text-align: center;
          // padding-top: 80px;
          // padding-bottom: 30px;
          p {
            font-size: 24px;
            font-size: 2.4rem;
          }
          h1 {
            font-size: 32px;
            font-size: 3.2rem;
          }
        }
        .productSlider {
          .btns {
          }
          .btnWrap {
            .btnsBlank {
            }
          }
        }
        .owl-carousel {
          margin-top: -13px; //for new section
          .item {
            .product-detail-wrap {
              width: 100%;
              .product-photo {
                img {
                }
              }
              .product-content {
                width: 90%;
                line-height: 1.5;
                .break {
                  display: block;
                }
                h2 {
                  font-size: 25px;
                  font-size: 2.5rem;
                }
                .price {
                  font-size: 16px;
                  font-size: 1.6rem;
                  padding: 10px 0;
                }
                .desc {
                  font-size: 15px;
                  font-size: 1.5rem;
                  line-height: 1.5;
                  padding-right: 0;
                }
              }
            }
          }
          .owl-nav {
            .owl-prev,
            .owl-next {
              // top: 30%;
              img {
                // width: 70%;
              }
            }
          }
        }
      }
      .height {
        height: 150px;
      }
    }
  }
}
