.time-wrapper {
    .time-pt4-event {
        margin-top: -1px; //remove white line
        .event1 {
            background: url(../images/pt4_bg_pc.jpg) no-repeat top center;
            background-size: 100%;
            // position: relative;
            .event1Wrap {
                // position: absolute;
                // left: 0;
                // right: 0;
                // top: 0;
                // bottom: 0;
                padding: 0 28.3%;
                .time-event1-txt {
                    text-align: center;
                    padding-top: 185px;
                    p {
                        @include sub-titStyle;
                    }
                    h1 {
                        @include titleStyle;
                        padding: 30px 0;
                    }
                }
                .ytvideo {
                    margin: 60px 0;
                    .video {
                        picture {
                            .video {
                                max-width: 830px;
                            }
                        }
                    }
                }
                .time-event1-txt2 {
                    text-align: center;
                    .eventH3 {
                        padding: 30px 0 55px 0;
                        // margin-top: -5px;
                    }
                    .eventP {
                        padding: 40px 0;
                    }
                }
            }
        }
        .event2 {
            background: url(../images/pt5_bg_pc.jpg) no-repeat top center;
            background-size: 100%;
            // position: relative;
            text-align: center;
            .event2Wrap {
                // position: absolute;
                // left: 0;
                // right: 0;
                // top: 0;
                // bottom: 0;
                // padding: 0 28.3%;
                // overflow: hidden;
                // overflow-x:hidden
                .note {
                    font-size: 1.4rem;
                    color: #a2826e;
                    // letter-spacing: 0.1rem;
                    line-height: 1.5;
                    padding: 0 28.3%;
                    &:nth-of-type(1) {
                        text-align: left;
                    }
                }

                .time-event2-txt {
                    text-align: center;
                    padding-top: 100px;
                    .eventH3 {
                        padding: 30px 0 55px 0;
                    }
                    .eventH4 {
                        span {
                            font-size: 4rem;
                            font-weight: bold;
                        }
                    }
                    .eventP {
                        text-align: center;
                        padding: 20px 0;
                    }
                }
                .event2-photo-wrap {
                    position: relative;

                    .event2-photo {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: -60px;
                        bottom: 0;
                        width: 80%;
                        margin: 0 auto;

                        .item {
                            position: relative;
                            width: 100%;
                            .text-bubble {
                                position: absolute;
                                top: -80px;
                                // right: 450px;
                                left:3%;
                                width: 70%;
                            }
                            .event-model {
                                position: absolute;
                                top: -50px;
                                right: 3%;
                                width: 50%;
                            }
                        }
                    }
                }
                .event1-note,
                .event2-note {
                    padding-top: 50px;
                }
            }
        }
    }
    .shopBtn2 {
        span {
            font-size: 4rem;
            letter-spacing: 0.2rem;
            display: block;
        }
        cursor: pointer;
        max-width: 530px;
        width: 100%;
        margin: 60px auto;
        display: block;
        position: relative;
        font-size: 8rem;
        line-height: 4.5rem;
        text-align: center;
        text-decoration:none;
        border: $red 2px solid;
        color: $red;
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;
        overflow: hidden;
        &::before {
            content: '';
            background: url(../images/shine_light.png);
            background-position: center;
            background-size: cover;
            position: absolute;
            width: 200%;
            height: 200%;
            margin-top: -20%;
            display: block;
            pointer-events: none;
            -webkit-animation: btn-shine 4s ease 1s infinite;
            animation: btn-shine 4s ease 1s infinite;
            // box-sizing: border-box;
        }
    }
    .gotopBtn {
        cursor: pointer; 
        max-width: 70px;
        width: 100%;
        margin: 0 auto 50px;
        text-align: center;
        a {
            display: block;
            text-decoration: none;
        }
    }
}

.eventH2 {
    font-size: 4.5rem;
    font-family: 'Noto Serif TC';
    font-weight: 800;
    letter-spacing: 0.4rem;
}

.eventH3 {
    &::before,
    &::after {
        content: '';
        width: 160px;
        height: 1px;
        background-color: #73241a;
        display: inline-block;
        vertical-align: middle;
        margin: 0 30px;
        position: relative;
        top: -8px;
    }
    span {
        font-size: 3rem;
        font-family: 'Noto Serif TC';
        font-weight: 800;
        letter-spacing: 0.4rem;
    }
}
.eventH4 {
    font-size: 3rem;
    letter-spacing: 0.3rem;
    line-height: 1.5;
}
.eventP {
    font-size: 2.4rem;
    line-height: 1.5;
    letter-spacing: 0.2rem;
    text-align: left;
}


@media screen and (max-width: 1440px) {
    .time-wrapper {
        .time-pt4-event {
            .event1 {
                .event1Wrap {
                    padding: 0 28.3%;
                    .time-event1-txt {
                        padding-top: 100px;
                        p {
                            font-size: 3rem - 0.5;
                        }
                        h1 {
                            font-size: 5.5rem - 1.5;
                            padding: 20px 0;
                        }
                    }
                    .ytvideo {
                        //  margin: 30px 0;
                        .video {
                            picture {
                                .video {
                                    max-width: 650px;
                                }
                            }
                        }
                    }

                    .time-event1-txt2 {
                        .eventH3 {
                            padding: 30px 0 45px 0;
                        }
                        .eventP {
                            padding: 30px 0;
                        }
                    }
                }
            }
            .event2 {
                .event2Wrap {
                    .note {
                    }

                    .time-event2-txt {
                        // padding-top: 100px;
                        .eventH3 {
                            padding: 30px 0 15px 0;
                        }
                        .eventH4 {
                            span {
                                // font-size: 4rem;
                                // font-weight: bold;
                            }
                        }
                        .eventP {
                            // padding: 20px 0;
                        }
                    }
                    .event2-photo-wrap {
                        .event2-photo {
                            width: 80%;
                            // margin: 0 auto;
                            top: -15px;

                            .item {
                                width: 100%;
                                // margin-left: -80px;
                                // margin-top: -100px;
                                .text-bubble {
                                    // top: 0;
                                    // right: 420px;
                                    // width: 60%;
                                }
                                .event-model {
                                    // top: 6px;
                                    // right: 110px;
                                    // width: 45%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .shopBtn2 {
            span {
                font-size: 4rem - 1rem;
            }

            width: 80%;
            // margin: 40px auto;
            // line-height: 4.5rem;
            // padding-top: 20px;
            // padding-bottom: 20px;
        }
        .gotopBtn {
            // margin: 100px auto 50px;
        }
    }

    .eventH2 {
        font-size: 4.5rem - 1rem;
    }

    .eventH3 {
        &::before,
        &::after {
            content: '';
            width: 80px;
        }
        span {
            font-size: 3rem - 1rem;
        }
    }
    .eventH4 {
        font-size: 3rem - 1rem;
    }
    .eventP {
        font-size: 2.4rem - 0.5rem;
    }
}



@media screen and (max-width: 1280px) {
    .time-wrapper {
        .time-pt4-event {
            .event1 {
                .event1Wrap {
                    .ytvideo {
                        // margin: 25px 0;
                        .video {
                            picture {
                                .video {
                                    max-width: 450px;
                                }
                            }
                        }
                    }

                    .time-event1-txt2 {
                        .eventH3 {
                            padding: 30px 0 45px 0;
                        }
                        .eventP {
                            padding: 30px 0;
                        }
                    }
                }
            }
            .event2 {
                .event2Wrap {
                    .note {
                    }

                    .time-event2-txt {
                        .eventH3 {
                            padding: 30px 0 15px 0;
                        }
                        .eventH4 {
                            span {
                                font-size: 4rem - 1;
                            }
                        }
                        .eventP {
                            padding: 20px 0;
                        }
                    }
                   
                }
            }
        }
        .shopBtn2 {
            span {
                font-size: 4rem - 1.5rem;
            }
            width: 70%;
        }
        
    }
}
@media screen and (max-width: 1024px) {
    .time-wrapper {
        .time-pt4-event {
            .event1 {
                .event1Wrap {
                    .time-event1-txt {
                        // padding-top: 100px;
                        p {
                            font-size: 3rem - 1;
                        }
                        h1 {
                            font-size: 5.5rem - 2;
                            padding: 15px 0;
                        }
                    }
                    .ytvideo {
                        // margin: 25px 0;
                        .video {
                            picture {
                                .video {
                                    // max-width: 300px;
                                }
                            }
                        }
                    }

                    .time-event1-txt2 {
                        .eventH3 {
                            padding: 20px 0 25px 0;
                        }
                        .eventP {
                            padding: 30px 0;
                        }
                    }
                }
            }
            .event2 {
                .event2Wrap {
                    .note {
                    }

                    .time-event2-txt {
                        padding-top: 100px;
                        .eventH3 {
                            padding: 30px 0 15px 0;
                        }
                        .eventH4 {
                            span {
                                font-size: 4rem - 1;
                                font-weight: bold;
                            }
                        }
                        .eventP {
                            padding: 10px 0;
                        }
                    }
                    .event2-photo-wrap {
                        .event2-photo {
                            top: 10px;
                       
                        }
                    }
                }
            }
        }
        .shopBtn2 {
            padding-top: 15px;
            padding-bottom: 15px;
            width: 40%;
        }
      
    }
    .eventH2 {
        font-size: 4.5rem - 1.5rem;
    }

    .eventH4 {
        font-size: 3rem - 1rem;
    }
    .eventP {
        font-size: 2.4rem - 0.7rem;
    }
    .eventH3 {
        &::before,
        &::after {
            content: '';
            width: 60px;
        }
        span {
            font-size: 3rem - 1rem;
        }
    }
}

@media screen and (max-width: 767px) {
    .time-wrapper {
        .time-pt4-event {
            
            .event1 {
                background: url(../images/pt4_bg_mb.jpg) no-repeat top center;
                background-size: 100%;
                .event1Wrap {
                    padding: 0 10%;
                    .time-event1-txt {
                        text-align: center;
                        padding-top: 20%;
                        p {
                            @include sub-titStyle;
                        }
                        h1 {
                            @include titleStyle;
                            padding: 30px 0;
                        }
                    }
                    .ytvideo {
                        // margin: 85px 0;
                        .video {
                            picture {
                                .video {
                                    max-width: 830px;
                                }
                            }
                        }
                    }
                    .time-event1-txt2 {
                        text-align: center;
                        .eventH3 {
                            padding: 50px 0 55px 0;
                        }
                        .eventP {
                            padding: 50px 0;
                        }
                    }
                }
            }
            .event2 {
                background: url(../images/pt5_bg_mb.jpg) no-repeat top center;
                background-size: 100%;
                .event2Wrap {
                    // padding-bottom: 180px;
                    padding-bottom: 10%;
                    .note {
                        font-size: 14px;
                        font-size: 1.4rem;
                        color: #a2826e;
                        // letter-spacing: 0.1rem;
                        line-height: 1.5;
                        padding: 0 10%;
                        &:nth-of-type(1) {
                            text-align: left;
                        }
                    }
                    .event-model-mb {
                        width: 100%;
                        img {
                            margin: 0 auto;
                        }
                    }
                    .time-event2-txt {
                        // margin-top: -100px;
                        padding-top: 5%;
                        .eventH3 {
                            padding: 50px 0 55px 0;
                        }
                        .eventH4 {
                            span {
                                font-size: 4rem;
                                font-weight: bold;
                            }
                        }
                        .eventP {
                            text-align: center;
                            padding: 20px 10%;
                        }
                    }
                    .three-points {
                        text-align: center;
                        width: 100%;
                        margin: 0 auto;
                        padding-top: 10%;
                    }
                    .event1-note,
                    .event2-note {
                        padding-top: 50px;
                    }
                    .event2-note {
                        padding-bottom: 0;
                    }
                }
            }
            .eventP {
                padding: 58px 0;
            }
        }
        .pc {
            display: none;
        }
        .gotopBtn {
            max-width: 80px;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            // position: absolute;
            // left: 0;
            // right: 0;
            // top: 0;
            padding-bottom: 150px;
            a {
                display: block;
                text-decoration: none;
            }
        }
    }

    .eventH2 {
        font-size: 45px;
        font-size: 4.5rem;
        font-family: 'Noto Serif TC';
        font-weight: 800;
        letter-spacing: 0.4rem;
    }
    .eventH3 {
        &::before,
        &::after {
            width: 100px;
            height: 1px;
            -webkit-animation: lineMb 4s ease;
            animation: lineMb 4s ease;
        }
        span {
            font-size: 3rem;
            font-family: 'Noto Serif TC';
            font-weight: 800;
            letter-spacing: 0.4rem;
        }
    }
    .eventH4 {
        font-size: 3rem;
        letter-spacing: 0.3rem;
        line-height: 1.5;
    }
    .eventP {
        font-size: 2.4rem;
        line-height: 1.5+0.2;
        letter-spacing: 0.2rem + 0.5;
        text-align: left;
    }
}

@media screen and (max-width: 414px) {
    .time-wrapper {
        .time-pt4-event {
            .event1 {
                .event1Wrap {
                    padding: 0 8%;
                    .time-event1-txt {
                        // padding-top: 80px;
                        p {
                            font-size: 24px;
                            font-size: 2.4rem;
                        }
                        h1 {
                            font-size: 32px;
                            font-size: 3.2rem;
                            padding: 20px 0;
                        }
                    }
                    .ytvideo {
                        margin: 50px 0;
                        .video {
                            picture {
                                .video {
                                    // max-width: 730px;
                                }
                            }
                        }
                    }
                    .time-event1-txt2 {
                        .eventH3 {
                            padding: 20px 0 30px 0;
                        }
                        .eventP {
                            padding: 20px 0;
                            font-size: 16px;
                            font-size: 1.6rem;
                        }
                    }
                }
            }
            .event2 {
                .event2Wrap {
                //   padding-bottom: 260px;
                
                    .note {
                        font-size: 11px;
                        font-size: 1.1rem;
                        padding: 30px 8% 0;
                        letter-spacing: 0.1rem;
                    }
                    .event1-note{
                        // padding: 30px 0 0 0;
                        letter-spacing: 0.15rem
                    }
                    .event-model-mb {
                        width: 100%;
                    }
                    .time-event2-txt {
                        // margin-top: -120px;
                        padding-top: 0;
                        .eventH3 {
                            padding: 20px 0 20px 0;
                        }
                        .eventH4 {
                            span {
                                font-size: 30px;
                                font-size: 4rem - 1;
                            }
                        }
                        .eventP {
                           padding-bottom: 0;
                           padding: 10px 10%;
                        }
                    }
                    
                    .three-points {
                        // width: 90%;
                        padding-top: 0;
                    }
                }
            }
            
        }
        .gotopBtn {
            max-width: 60px;
            padding-bottom: 100px;
        }
    }

    .eventH2 {
        font-size: 25px;
        font-size: 2.5rem;
    }
    .eventH3 {
        &::before,
        &::after {
            width: 30px;
            margin: 0 15px;
            top: -3px;
            -webkit-animation: lineMb30 4s ease;
            animation: lineMb30 4s ease;
        }
        span {
            font-size: 18px;
            font-size: 1.8rem;
        }
    }
    .eventH4 {
        font-size: 18px;
        font-size: 1.8rem;
    }
    .eventP {
        font-size: 18px;
        font-size: 1.8rem;
        line-height: 1.5;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 375px) {
    .time-wrapper {
        .time-pt4-event {

            .event2 {
                .event2Wrap {
                
                
                    .event2-note{
                        padding: 30px 0 0 0;
                    }
                    .event-model-mb {
                        width: 90%;
                        margin: 0 auto;
                    }
                
                    .three-points {
                        padding-top: 0;
                    }
                }
            }
            
        }
    
    }

}

