@charset "UTF-8";
/*------------------------------------*\
    $config
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  color: #fff; }

a {
  text-decoration: none;
  color: #000; }

input:focus {
  outline: none; }

body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: Microsoft JhengHei,微軟正黑體,serif; }

/*------------------------------------*\
    $element
\*------------------------------------*/
/*!
Pure v1.0.0
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
.e-btn {
  /* Structure */
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Firefox: Get rid of the inner focus border */
.e-btn::-moz-focus-inner {
  padding: 0;
  border: 0; }

/* Inherit .pure-g styles */
.e-btn-group {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */
  *letter-spacing: normal;
  /* reset IE < 8 */
  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */
  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */ }

.opera-only :-o-prefocus,
.e-btn-group {
  word-spacing: -0.43em; }

.e-btn-group .e-btn {
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto; }

.lancome-btn__link {
  color: #fff;
  background: #000;
  text-align: center;
  padding: 1.5rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  padding: 12px 40px;
  letter-spacing: 0.1em;
  border: 1px solid #000;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out, border-color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out, color 0.25s ease-out, border-color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out, border-color 0.25s ease-out; }

.lancome-btn__link--hover:hover {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  background: #fff;
  border: 1px solid #000;
  color: #000; }

.button-wrap-button {
  position: relative;
  -webkit-transition: border-radius 0.3s 0.4s cubic-bezier(0.18, 0.06, 0.23, 1), border-color 0.3s 0.4s cubic-bezier(0.18, 0.06, 0.23, 1);
  -o-transition: border-radius 0.3s 0.4s cubic-bezier(0.18, 0.06, 0.23, 1), border-color 0.3s 0.4s cubic-bezier(0.18, 0.06, 0.23, 1);
  transition: border-radius 0.3s 0.4s cubic-bezier(0.18, 0.06, 0.23, 1), border-color 0.3s 0.4s cubic-bezier(0.18, 0.06, 0.23, 1);
  border-radius: 30px;
  outline: none;
  overflow: hidden; }
  .button-wrap-button:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    bottom: 0;
    z-index: -1;
    -webkit-transition: height 0.3s 0.2s cubic-bezier(0.69, 0.01, 0.2, 0.99);
    -o-transition: height 0.3s 0.2s cubic-bezier(0.69, 0.01, 0.2, 0.99);
    transition: height 0.3s 0.2s cubic-bezier(0.69, 0.01, 0.2, 0.99); }
  .button-wrap-button:hover .button-icon {
    -webkit-transform: translate3d(0, 0, 0) rotate(180deg);
    transform: translate3d(0, 0, 0) rotate(180deg); }
  .button-wrap-button .button-text {
    margin-right: 50px; }
  .button-wrap-button .button-icon {
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 12px;
    height: 12px;
    left: 0;
    top: 0;
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.46, 0.1, 0.29, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.46, 0.1, 0.29, 1);
    -o-transition: transform 0.3s cubic-bezier(0.46, 0.1, 0.29, 1);
    transition: transform 0.3s cubic-bezier(0.46, 0.1, 0.29, 1);
    transition: transform 0.3s cubic-bezier(0.46, 0.1, 0.29, 1), -webkit-transform 0.3s cubic-bezier(0.46, 0.1, 0.29, 1);
    overflow: hidden; }
    .button-wrap-button .button-icon:before, .button-wrap-button .button-icon:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 50%;
      margin-top: -1px;
      background-color: #000; }
    .button-wrap-button .button-icon:after {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      -webkit-transition: -webkit-transform 0.2s 0.3s cubic-bezier(0.55, 0.05, 0.22, 0.99);
      transition: -webkit-transform 0.2s 0.3s cubic-bezier(0.55, 0.05, 0.22, 0.99);
      -o-transition: transform 0.2s 0.3s cubic-bezier(0.55, 0.05, 0.22, 0.99);
      transition: transform 0.2s 0.3s cubic-bezier(0.55, 0.05, 0.22, 0.99);
      transition: transform 0.2s 0.3s cubic-bezier(0.55, 0.05, 0.22, 0.99), -webkit-transform 0.2s 0.3s cubic-bezier(0.55, 0.05, 0.22, 0.99); }

/*------------------------------------*\
    $helper
\*------------------------------------*/
/*------------------------------------*\
    $layout
\*------------------------------------*/
/*------------------------------------*\
    $modules
\*------------------------------------*/
