/*------------------------------------*\
    $config
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  color: #fff; }

a {
  text-decoration: none;
  color: #000; }

input:focus {
  outline: none; }

.color-text {
  background: -webkit-linear-gradient(left, #12cac3 0%, #71ebe6 24%, #12cac3 36%, #71ebe6 46%, #12cac3 52%, #71ebe6 58%, #71ebe6 67%, #12cac3 100%);
  background-size: 400% 400%;
  background-clip: text;
  -webkit-background-clip: -webkit-text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-animation-name: colorText;
  animation-name: colorText;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

/*------------------------------------*\
    $helper
\*------------------------------------*/
.pc {
  display: block; }

.mb {
  display: none; }

@media screen and (max-width: 767px) {
  .pc {
    display: none !important; }
  .mb {
    display: block; } }

/*------------------------------------*\
    $element
\*------------------------------------*/
/*!
Pure v1.0.0
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
.e-btn {
  /* Structure */
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Firefox: Get rid of the inner focus border */
.e-btn::-moz-focus-inner {
  padding: 0;
  border: 0; }

/* Inherit .pure-g styles */
.e-btn-group {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */
  *letter-spacing: normal;
  /* reset IE < 8 */
  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */
  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */ }

.opera-only :-o-prefocus,
.e-btn-group {
  word-spacing: -0.43em; }

.e-btn-group .e-btn {
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto; }

.lancome-btn__link {
  color: #fff;
  background: #000;
  text-align: center;
  padding: 0.6em 2.8em;
  display: inline-block;
  font-size: 21px;
  letter-spacing: 0.1em;
  border: 1px solid #000;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff; }

.lancome-btn__link--active {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  position: relative; }
  .lancome-btn__link--active:after {
    content: "";
    background: url(../images/shine_light.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 200%;
    height: 200%;
    top: -5%;
    display: block;
    pointer-events: none;
    -webkit-animation: btn-shine 3s ease 1s infinite;
    animation: btn-shine 3s ease 1s infinite; }
  .lancome-btn__link--active:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    background: #fff;
    color: #000; }

@media screen and (max-width: 414px) {
  .lancome-btn__link--s {
    font-size: 16px; } }

/*------------------------------------*\
    $layout
\*------------------------------------*/
/*------------------------------------*\
    $modules
\*------------------------------------*/
@-webkit-keyframes img_shine {
  0% {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes img_shine {
  0% {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes font-shine {
  0% {
    background-position: 0% 0; }
  to {
    background-position: -300% 0; } }

@keyframes font-shine {
  0% {
    background-position: 0% 0; }
  to {
    background-position: -300% 0; } }

@-webkit-keyframes flare_shine {
  0% {
    opacity: 0.5; }
  to {
    opacity: 1; } }

@keyframes flare_shine {
  0% {
    opacity: 0.5; }
  to {
    opacity: 1; } }

@-webkit-keyframes btn-shine {
  0% {
    -webkit-transform: translateX(-150%);
    transform: translateX(-150%); }
  70% {
    -webkit-transform: translateX(120%);
    transform: translateX(120%); }
  100% {
    -webkit-transform: translateX(120%);
    transform: translateX(120%); } }

@keyframes btn-shine {
  0% {
    -webkit-transform: translateX(-150%);
    transform: translateX(-150%); }
  70% {
    -webkit-transform: translateX(120%);
    transform: translateX(120%); }
  100% {
    -webkit-transform: translateX(120%);
    transform: translateX(120%); } }

@-webkit-keyframes btn-shine2 {
  0% {
    -webkit-transform: translateY(-150%);
    transform: translateY(-150%); }
  70% {
    -webkit-transform: translateY(120%);
    transform: translateY(120%); }
  100% {
    -webkit-transform: translateY(120%);
    transform: translateY(120%); } }

@keyframes btn-shine2 {
  0% {
    -webkit-transform: translateY(-150%);
    transform: translateY(-150%); }
  70% {
    -webkit-transform: translateY(120%);
    transform: translateY(120%); }
  100% {
    -webkit-transform: translateY(120%);
    transform: translateY(120%); } }

@-webkit-keyframes scrollMove {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px); } }

@keyframes scrollMove {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px); } }

@-webkit-keyframes line {
  0% {
    width: 0; }
  100% {
    width: 160px; } }

@keyframes line {
  0% {
    width: 0; }
  100% {
    width: 160px; } }

@-webkit-keyframes lineMb {
  0% {
    width: 0; }
  100% {
    width: 100px; } }

@keyframes lineMb {
  0% {
    width: 0; }
  100% {
    width: 100px; } }

@-webkit-keyframes lineMb30 {
  0% {
    width: 0; }
  100% {
    width: 30px; } }

@keyframes lineMb30 {
  0% {
    width: 0; }
  100% {
    width: 30px; } }

@-webkit-keyframes backgroundScale {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  50% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2); }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

@keyframes backgroundScale {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  50% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2); }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

@-webkit-keyframes lineani {
  0% {
    opacity: 0.8; }
  100% {
    opacity: 1; } }

@keyframes lineani {
  0% {
    opacity: 0.8; }
  100% {
    opacity: 1; } }

@-webkit-keyframes colorText {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }

@keyframes colorText {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }

/*------------------------------------*\
    $theme
\*------------------------------------*/
.MB-lipstick-wrap {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  line-height: 1.5;
  color: #2a2a2a; }
  .MB-lipstick-wrap img {
    max-width: 100%; }
  .MB-lipstick-wrap .MB-listick-kv {
    position: relative; }
    .MB-lipstick-wrap .MB-listick-kv .bg-img {
      width: 100%;
      background: url(../images/kv-bg-pc.jpg) no-repeat top center;
      background-size: 100%; }
    .MB-lipstick-wrap .MB-listick-kv .content {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
      margin-top: 5%;
      margin-left: 6.7%; }
    .MB-lipstick-wrap .MB-listick-kv__title {
      font-size: 30px;
      font-weight: bold;
      padding-bottom: 1em;
      letter-spacing: 2.5px; }
    .MB-lipstick-wrap .MB-listick-kv__product {
      position: relative;
      text-align: center;
      width: 385px; }
    .MB-lipstick-wrap .MB-listick-kv__color-name {
      font-size: 25px;
      font-weight: bold;
      text-align: left;
      color: #008091;
      position: absolute;
      top: 17%;
      left: 63%; }
    .MB-lipstick-wrap .MB-listick-kv__name {
      margin-bottom: 1.5em; }
      .MB-lipstick-wrap .MB-listick-kv__name span {
        vertical-align: middle; }
      .MB-lipstick-wrap .MB-listick-kv__name span:nth-of-type(1) {
        font-size: 22px;
        color: #008091;
        border: #008091 1px solid;
        padding: 0 0.2em; }
      .MB-lipstick-wrap .MB-listick-kv__name span:nth-of-type(2) {
        font-size: 30px;
        color: #000; }
    .MB-lipstick-wrap .MB-listick-kv__typo-MB {
      position: absolute;
      top: 79%;
      left: 7%; }

@media screen and (max-width: 1024px) {
  .MB-lipstick-wrap .MB-listick-kv .content {
    margin-left: 3%; }
  .MB-lipstick-wrap .MB-listick-kv__product-pic {
    width: 50%; } }

@media screen and (max-width: 767px) {
  .MB-lipstick-wrap .MB-listick-kv .bg-img {
    width: 100%;
    background: url(../images/kv-bg-mb.jpg) no-repeat top center;
    background-size: 100%; }
  .MB-lipstick-wrap .MB-listick-kv .content {
    top: 10%;
    margin-top: 0; }
  .MB-lipstick-wrap .MB-listick-kv__title {
    font-size: 50px;
    text-align: center; }
  .MB-lipstick-wrap .MB-listick-kv__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 4.5em; }
  .MB-lipstick-wrap .MB-listick-kv__typo-MB {
    width: 100%;
    top: 86%;
    left: 0; } }

@media screen and (max-width: 414px) {
  .MB-lipstick-wrap .MB-listick-kv .content {
    top: 5%;
    margin: 0; }
  .MB-lipstick-wrap .MB-listick-kv__title {
    font-size: 30px; }
  .MB-lipstick-wrap .MB-listick-kv__product {
    width: 50%; }
  .MB-lipstick-wrap .MB-listick-kv__product-pic {
    width: 66%; }
  .MB-lipstick-wrap .MB-listick-kv__color-name {
    font-size: 12px;
    top: 9%;
    left: 65%; }
  .MB-lipstick-wrap .MB-listick-kv__name {
    margin-top: -1em;
    margin-bottom: 0.5em;
    padding-left: 1em; }
    .MB-lipstick-wrap .MB-listick-kv__name span:nth-of-type(1) {
      font-size: 10px; }
    .MB-lipstick-wrap .MB-listick-kv__name span:nth-of-type(2) {
      font-size: 18px; } }

@media screen and (max-width: 375px) {
  .MB-lipstick-wrap .MB-listick-kv__product {
    width: 52%; }
  .MB-lipstick-wrap .MB-listick-kv__name {
    padding-left: 0.5em; }
    .MB-lipstick-wrap .MB-listick-kv__name span:nth-of-type(1) {
      font-size: 8px; } }

.MB-listick-intro {
  position: relative; }
  .MB-listick-intro .bg-img {
    width: 100%;
    background: url(../images/intro-bg-pc.jpg) no-repeat top center;
    background-size: 100%; }
  .MB-listick-intro .content {
    position: absolute;
    top: 44%;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 47%;
    margin: 0 4.5%; }
  .MB-listick-intro__text-wrap {
    margin-bottom: 3.5em; }
  .MB-listick-intro__text {
    font-size: 22px;
    margin-top: 0.5em;
    line-height: 1.8;
    letter-spacing: 2px; }

@media screen and (max-width: 1024px) {
  .MB-listick-intro .content {
    top: 35%; } }

@media screen and (max-width: 767px) {
  .MB-listick-intro .bg-img {
    width: 100%;
    background: url(../images/intro-bg-mb.jpg) no-repeat top center;
    background-size: 100%; }
  .MB-listick-intro .content {
    top: 50%;
    width: 100%;
    margin: 0;
    padding: 0; }
  .MB-listick-intro__text-wrap {
    padding: 0 5%; }
    .MB-listick-intro__text-wrap:nth-of-type(1) {
      background: rgba(255, 255, 255, 0.8);
      padding-top: 5em; } }

@media screen and (max-width: 414px) {
  .MB-listick-intro .content {
    top: 48.5%; }
  .MB-listick-intro__text-wrap {
    margin-bottom: 1.5em; }
    .MB-listick-intro__text-wrap:nth-of-type(1) {
      padding-top: 1.5em; }
  .MB-listick-intro__tit {
    width: 55%; }
  .MB-listick-intro__text {
    font-size: 16px;
    line-height: 1.5; } }

.MB-listick-color {
  position: relative; }
  .MB-listick-color .bg-img {
    width: 100%;
    background: url(../images/color-bg-pc.jpg) no-repeat top center;
    background-size: 100%; }
  .MB-listick-color .content {
    position: absolute;
    top: 12%;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1; }
  .MB-listick-color__typo-color {
    position: absolute;
    top: -9%;
    left: -1%; }
  .MB-listick-color__visual-pic {
    right: 0;
    top: -11.3%;
    width: 424px;
    height: 600px;
    position: absolute;
    overflow: hidden; }
    .MB-listick-color__visual-pic .layer {
      position: absolute;
      left: 0; }
    .MB-listick-color__visual-pic .layer1 {
      top: -50px;
      z-index: 3; }
    .MB-listick-color__visual-pic .layer2 {
      top: -50px;
      z-index: 2; }
    .MB-listick-color__visual-pic .layer3 {
      top: -70px;
      max-width: 600px; }
  .MB-listick-color__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 80%;
    margin: 5% auto 0; }
  .MB-listick-color__item {
    display: block;
    width: 33.33333%;
    padding: 0 2%;
    margin-bottom: 4em; }
  .MB-listick-color .m-r {
    margin-right: 33.3333%; }
  .MB-listick-color__slider-pic {
    width: 100%; }

@media screen and (max-width: 1024px) {
  .MB-listick-color .content {
    top: 18%; }
  .MB-listick-color__visual-pic {
    width: 33%;
    height: 470px; }
    .MB-listick-color__visual-pic .layer3 {
      max-width: 410px; } }

@media screen and (max-width: 767px) {
  .MB-listick-color .m-r {
    margin-right: 0; }
  .MB-listick-color .bg-img {
    width: 100%;
    background: url(../images/color-bg-mb.jpg) no-repeat top center;
    background-size: 100%; }
  .MB-listick-color .content {
    top: 17%;
    margin: 0 10%; }
  .MB-listick-color__typo-color {
    top: -12%;
    left: -14%;
    z-index: 2; }
  .MB-listick-color__visual-pic {
    right: -15%;
    top: -30%;
    width: 69%;
    height: 27%; }
    .MB-listick-color__visual-pic .layer1 {
      top: -193px; }
    .MB-listick-color__visual-pic .layer2 {
      top: -175px; }
  .MB-listick-color__slider {
    display: block;
    width: 100%;
    margin: 0; }
    .MB-listick-color__slider .slick-next,
    .MB-listick-color__slider .slick-prev {
      width: 28px;
      height: 28px; }
    .MB-listick-color__slider .slick-next:before {
      content: "";
      background: url(../images/right-arrow.png) no-repeat center center;
      display: block;
      width: 100%;
      height: 100%; }
    .MB-listick-color__slider .slick-prev:before {
      content: "";
      background: url(../images/left-arrow.png) no-repeat center center;
      display: block;
      width: 100%;
      height: 100%; }
  .MB-listick-color__item {
    width: 100%;
    padding: 0 30px;
    margin-bottom: 8em; }
  .MB-listick-color__progress {
    display: block;
    width: 50%;
    margin: 0 auto;
    height: 2px;
    overflow: hidden;
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear, left top, right top, from(#008091), to(#008091));
    background-image: -webkit-linear-gradient(left, #008091, #008091);
    background-image: -o-linear-gradient(left, #008091, #008091);
    background-image: linear-gradient(to right, #008091, #008091);
    background-repeat: no-repeat;
    background-size: 0 100%;
    -webkit-transition: background-size 0.4s ease-in-out;
    -o-transition: background-size 0.4s ease-in-out;
    transition: background-size 0.4s ease-in-out; } }

@media screen and (max-width: 414px) {
  .MB-listick-color .content {
    top: 27%; }
  .MB-listick-color__typo-color {
    top: -16%;
    width: 70%; }
  .MB-listick-color__visual-pic {
    top: -36%;
    width: 87%;
    height: 30%; }
    .MB-listick-color__visual-pic .layer1 {
      top: -162px; }
  .MB-listick-color__item {
    margin-bottom: 2em; }
  .MB-listick-color__slider-pic {
    width: 100%; } }

@media screen and (max-width: 375px) {
  .MB-listick-color__visual-pic {
    top: -30%;
    height: 26%; }
    .MB-listick-color__visual-pic .layer1 {
      top: -151px; } }
