@keyframes img_shine {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes font-shine {
  0% {
    background-position: 0% 0;
  }
  to {
    background-position: -300% 0;
  }
}

@keyframes flare_shine {
  0% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes btn-shine {
  0% {
    transform: translateX(-150%);
  }
  70% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(120%);
  }
}

@keyframes btn-shine2 {
  0% {
    -webkit-transform: translateY(-150%);
    transform: translateY(-150%);
  }
  70% {
    -webkit-transform: translateY(120%);
    transform: translateY(120%);
  }
  100% {
    -webkit-transform: translateY(120%);
    transform: translateY(120%);
  }
}

@keyframes scrollMove {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
}
@keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 160px;
  }
}

@keyframes lineMb {
  0% {
    width: 0;
  }
  100% {
    width: 100px;
  }
}

@keyframes lineMb30 {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}

@keyframes backgroundScale {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes lineani {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes colorText {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
