@-webkit-keyframes img_shine {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes img_shine {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes font-shine {
  0% {
    background-position: 0% 0;
  }
  to {
    background-position: -300% 0;
  }
}
@keyframes font-shine {
  0% {
    background-position: 0% 0;
  }
  to {
    background-position: -300% 0;
  }
}

@-webkit-keyframes flare_shine {
  0% {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
@keyframes flare_shine {
  0% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes btn-shine {
  0% {
    transform: translateX(-150%);
  }
  70% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(120%);
  }
}

@keyframes btn-shine2 {
  0% {
    -webkit-transform: translateY(-150%);
    transform: translateY(-150%);
  }
  70% {
    -webkit-transform: translateY(120%);
    transform: translateY(120%);
  }
  100% {
    -webkit-transform: translateY(120%);
    transform: translateY(120%);
  }
}

@keyframes scrollMove {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
}
@keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 160px;
  }
}

@keyframes lineMb {
  0% {
    width: 0;
  }
  100% {
    width: 100px;
  }
}

@keyframes lineMb30 {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}

@keyframes backgroundScale {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

[data-aos="text-down"] {
  opacity: 0;
  -webkit-transform: translateY(-25px);
  transform: translateY(-25px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  &.aos-animate {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

[data-aos="text-up"] {
  opacity: 0;
  -webkit-transform: translateY(25px);
  transform: translateY(25px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  &.aos-animate {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

[data-aos="scale-photo"] {
  opacity: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  &.aos-animate {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

[data-aos="move-left"] {
  opacity: 0;
  -webkit-transform: translateX(25px);
  transform: translateX(25px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  &.aos-animate {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

[data-aos="backgroundScale"] {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 10s;
  transition: all 10s;
  &.aos-animate {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: all 10s;
    transition: all 10s;
  }
}


@keyframes lineani {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
